@page "/ModuleTopic6"
@using Microsoft.Extensions.Localization
@using global::ModuleTopic6.Localization
@inject IStringLocalizer<ModuleTopic6Resource> L
@{
}
<h1>ModuleTopic6</h1>
<p>@L["SamplePageMessage"]</p>