@page
@using Microsoft.Extensions.Localization
@using ModuleTopic6.Localization
@using ModuleTopic6.Web.Pages.ModuleTopic6
@model ModuleTopic6.Web.Pages.ModuleTopic6.IndexModel
@inject IStringLocalizer<ModuleTopic6Resource> L

@{
}
<h1>ModuleTopic6</h1>
<p>@L["SamplePageMessage"]</p>
